#contactPage {
  min-height: calc(100vh-4rem);
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactPageTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.demoContainer{
  display: flex;
  flex-wrap: wrap;
  /* height: 100vh;
  width: 100vw; */
  align-items: center;
  justify-content: center;
}

.projecttext{
  font-weight: bold;
  font-size:900;
  margin-top: 3rem;
  font-family: 'Times New Roman', Times, serif;

}

.PassText{
  padding: 0.35rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Card{
  display: flex;
  flex-direction: column;
  background-color: #3a5989;
  border-radius: 2rem;
  margin: 1rem 1rem;
  padding: 0.5rem;
}

.Gitbtn{
  background-color: yellow;
  padding: 0.25rem;
  border-radius: 1rem;
  width: 5rem;
  align-items: center;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.Gitbtn-space{
  background-color: yellow;
  padding: 0.50rem;
  border-radius: 1rem;
  width: 5rem;
  align-items: center;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.password{
  padding: 0.8rem;
  font-weight: 500;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.clientDesc {
  font-weight: 300;
  font-size: 1rem;
}

.clientImgs {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.clientImg {
  object-fit: cover;
  width: 23%;
  min-width: 9rem;
  margin: auto;
  padding: 0.25rem;
}

#clients {
  padding: 2rem;
}

.contactDesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}

.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background-color: #243854;
}

.submitBtn {
  background: white;
  border: none;
  padding: 0.75rem 3.5rem;
  border-radius: 0.5rem;
  margin: 2rem;
  cursor: pointer;
}

.submitBtn:hover{
    box-shadow: 0 0 2px white,
    0 0 2px white, 0 0 3px cyan,
    0 0 5px white, 0 0 5px white ;
}

.links{
  display: flex;
  flex-wrap: wrap;
}

.link{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}